<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # If the requested filename exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Otherwise, redirect all requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
